* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
}

header {
  width: 100%;
  background-color: antiquewhite;
}

header > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  height: 25px;
  font-size: .8rem;
  padding: 0 80px;
  background-color: #222222;
  color: #fff;
}
header > div > div {
  width: 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 5px;
}

header > nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  height: 4.6875rem;
  background-color: #f0a83e;
  color: #fff;
}
header > nav > ul {
  display: flex;
}

header > nav > ul >li {
  list-style: none;
  margin: 0 10px;
  padding: 0 8px;
}