* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
}

header {
  width: 100%;
  background-color: antiquewhite;
}

header > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  height: 25px;
  font-size: 0.8rem;
  padding: 0 80px;
  background-color: #222222;
  color: #fff;
}
header > div > div {
  width: 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 5px;
}

header > nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  height: 4.6875rem;
  background-color: #f0a83e;
  color: #fff;
}
header > nav > ul {
  display: flex;
}

header > nav > ul > li {
  list-style: none;
  margin: 0 10px;
  padding: 0 8px;
}

main {
  background: #222222
    url("../img/bowl-and-pet-daities-on-green-background\ 1.png") no-repeat
    center/cover;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: end;
}
main > div > .p_1 {
  font-size: 1.9rem;
  color: #fff;
  margin-right: 3vw;
  text-align: center;
  background-color: #fff;
  color: #000;
  padding: 12px;
  border-radius: 5px;
}
main > div > .p_2 {
  text-align: center;
  margin: 12px 0;
  font-size: 1rem;
}
main > div > button {
  margin: 0 33%;
  background-color: #f0a83e;
  height: 50px;
  width: 141px;
  font-size: 1rem;
  color: #fff;
  border: none;
}

section.productos > div.banner {
  margin-top: 20px;
  text-align: center;
}
section.productos > div.banner > h2 {
  font-size: 2.5rem;
  color: #000;
  margin: 8px 0;
}

section.productos > div.banner > p.p_2 {
  font-size: 0.9375rem;
  color: #666;
  margin-top: 20px;
}

section.productos > div.productos__lista {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 6vh 22vw;
}

section.productos > div.productos__lista > div.productos__lista_ejm {
  background-color: #fafaf5;
}

section.productos
  > div.productos__lista
  > div.productos__lista_ejm
  > p:nth-child(2) {
  color: #3c2313;
  text-align: center;
  font-size: 0.9375rem;
  font-weight: bold;
}
section.productos
  > div.productos__lista
  > div.productos__lista_ejm
  > p:nth-child(3) {
  color: #f0a83e;
  text-align: center;
  font-size: 0.9375rem;
}
